---

import Title from '../components/Title.astro'
import SkillCard from '../components/SkillCard.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css';
import astroImage from "../assets/CapturaSpaceX.png"
import fireImage from "../assets/fireTask.png"
import countriesImage from "../assets/ProyectoCountry.png"
import spotyImage from "../assets/SpotifyClon.png"
import theWaveImage from "../assets/Thewave.png"
import teslaImage from "../assets/LandingTesta.png"
import shipImage from "../assets/ship.jpg"
import fotoMia from "../assets/fotoMia.jpeg"

---

<Layout>

	<main>
		<section class="about">
			<!-- <p class="font-semibold mb-27 text-3xl bg-black text-transparent bg-clip-text transition-all dark:bg-white"
			> ¡Hola! Soy 
		    </p> -->
			<p class="mb-27 tracking-widest text-6xl bg-black text-transparent bg-clip-text transition-all dark:bg-white"><strong>Lucas Sarachu </strong> </p>
			<img src={fotoMia.src} class="mb-11" alt="profile picture">
			<article id="sobremi">
				<p class="mb-27 tracking-widest text-5xl bg-black  bg-clip-text  transition-transform dark:bg-white">Software Developer</p>
				<!-- <Title text="Software Developer" /> -->
				<!-- CONTAR SOBRE MI ACA -->
				<p class="mt-20"> Soy desarrollador Fullstack competente con background en Educación Física y entrenador personal. Esta experiencia me ayudo a adquirir habilidades blandas que puedo aplicar en la programación en equipo. 
					Como programador trabajé en la creación de aplicaciones web completas. Con habilidades técnicas tanto en Front, trabajando con JavaScript, React, Angular, CSS y demás frameworks como Ionic, Tailwind y Astro como en el Back usando Node.js con ExpressJS, así como experiencia en el manejo de bases de datos y herramientas de desarrollo con SQL. 
					
					Soy una persona que le gusta el trabajo en equipo, con empatía y me adapto a las circunstancias sin 
					problema, con buena comunicación y actitud positiva. </p>
			</article>
		</section>
		<section id="skills"  class="skills">
			<!-- <Title  text="Tecnologías"/> -->
			<p class="mb-28 tracking-widest text-5xl bg-black  bg-clip-text transition-transform dark:bg-white">Tecnologías</p>

			<section>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" 			
				title="TypeScript" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" 				
				title="CSS" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" 				
				title="HTML" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/reactlogo.png" 				
				title="React" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" 				
				title="JavaScript" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/astrologo.svg" 				
				title="Astro" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
				title="PostgreSQL" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/tailwindlogo.png"
				title="TailwindCSS" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/nodelogo.png"
				title="NodeJS" />
				<SkillCard
				icon="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
				title="Redux" />
			</section>
		</section>
		<section id="proyectos" class="work">
			<!-- <Title text="Mis proyectos"/> -->
			<p class="mb-27 tracking-widest text-5xl bg-black  bg-clip-text  transition-transform dark:bg-white">Mis Proyectos</p>
		<section>
			<ProjectCard 
					img={theWaveImage.src}
					title="The Wave Store Comerce"
					description="E-Comerce desarrollado en equipo desarrollado el front con JavaScript, React, Redux, HTML, CSS, y backend con Express y Node y base de datos SQL."
					linkGit="https://github.com/Fiorellafrini/Proyecto_TheWave_client"
					linkWeb="https://proyecto-the-wave-client-1kip.vercel.app/SectionHome"
					name
					/>
			<ProjectCard 
			    img={astroImage.src}
				title="SpaceX Launches"
				description="App con los lanzamientos de SpaceX desarrollado con Astro, TypeScript, JavaScript y TailwindCSS."
				linkGit="https://github.com/LucasSA97/SpaceX-Launches"
				linkWeb="https://primer-proyecto-demo.vercel.app/"
				name
				/>
				<ProjectCard 
					img={fireImage.src}
					title="FireTasks"
					description="Proyecto de lista de tareas desarrollado con React"
					linkGit="https://github.com/LucasSA97/task-list-firebase"
					linkWeb="https://fir-shop-7d55b.web.app/"
					name
					/>
					<ProjectCard 
						img={spotyImage.src}
						title="Spotify Demo Clon"
						description="Demo de SpotifyClon desarrollado con Astro, JavaScript, TypeScript, TailwindCSS, React y Svelte."
						linkGit="https://github.com/LucasSA97/spotify-clon"
						linkWeb="https://spotify-clon-demo-astro.vercel.app/"
						name
						/>
			<ProjectCard 
			    img={teslaImage.src}
				title="Landing Tesla"
				description="Clon de la Landing page de Tesla desarrollado con HTML, CSS, JavaScript, Astro y Tailwind."
				linkGit="https://github.com/LucasSA97/landing-page-tesla"
				/>
			<ProjectCard 
			    img={countriesImage.src}
				title="Search Country"
				description="Proyecto individual, CRUD"
				linkGit="https://github.com/LucasSA97/Proyecto-Countries"	
				/>
		</section>
		</section>
		
		
	</main>
	
</Layout>



<style>


	



	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	} 

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(30, 30, 30, 0.3);
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.contact {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		width: 100%;
		padding: 0px 20px 100px 20px;
	}
	
	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}
		
		.about > img {
			width: 100px;
		}
	}
	
	</style>


