---
import Navbar from '../components/Navbar.astro';
import Title from '../components/Title.astro'
import SkillCard from '../components/SkillCard.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css';

import fireImage from "../assets/fireTask.png"
import countriesImage from "../assets/ProyectoCountry.webp"
import spotyImage from "../assets/SpotifyClon.webp"
import theWaveImage from "../assets/Thewave.webp"
import teslaImage from "../assets/LandingTesta.webp"
import astroImage from "../assets/CapturaSpaceX.webp"

import fotoMia from "../assets/fotoMia.jpeg"
import agenciaViajes from "../assets/agenciaviajes.webp"

import react from "../assets/react.svg"
import tailwind from "../assets/tailwind-css.svg"
import node from "../assets/nodejs.svg"
import astro from "../assets/astro2.svg"
import angular from "../assets/angular.svg"
import mongodb from "../assets/mongodb.svg"

---

<Layout>

	<main>
		<section class="about text-center mt-20 md:mt24 lg:mt-32">
			<p class="font-semibold text-xl  md:text-3xl lg:text-4xl mt-8 md:mt-16 lg:mt-20 bg-black text-transparent bg-clip-text transition-all dark:bg-white"
			> ¡Hola! Soy
		    </p>
			<p class="mb-2 md:mb-6 lg:mb-12 tracking-widest text-4xl md:text-5xl lg:text-6xl bg-black text-transparent bg-clip-text transition-all dark:bg-white">
				<strong>Lucas Sarachu</strong>
			</p>
			
			<img src={fotoMia.src} class="mb-6  md:mb-12 lg:mb-14 shadow-lg shadow-gray-900 dark:shadow-slate-400 rounded-full" alt="profile picture">

			<article id="sobremi" class="text-center mt-7 mb-16 md:mb-20 lg:mb-24">
				<p class="mb-27 tracking-widest text-5xl bg-black  bg-clip-text  transition-transform dark:bg-white">Software Developer</p>
				<p class="mt-4 text-lg md:mt-8 md:text-xl lg:text-2xl"> 
					Entusiasmado de la programación y de la resolución creativa de problemas. Explora mis proyectos para ver la fusión de habilidades técnicas y una mente abierta traducirse en resultados excepcionales.
				</p>
			</article>
		</section>
		<section id="proyectos" class="work mt10">
			<!-- <Title text="Mis proyectos"/> -->
			<p class="mb-27 mt-15 text-center tracking-widest text-5xl bg-black bg-clip-text transition-transform dark:bg-white">Mis Proyectos</p>
		<section class="flex flex-col gap-y-16">
			<ProjectCard 
			img={agenciaViajes.src}
			title="Agencia de Viajes"
			description="Proyecto con distintos destinos y página de testimonios con formulario validado. Desarrollado con JavaScript, backend con Node y Express, base de datos MySQL, frontend hecho con PUG."
			linkGit="https://github.com/LucasSA97/Agencia-Viajes"
			linkWeb="https://agencia-viajes-0fs4.onrender.com/"
			name
			/>

			<ProjectCard 
			img={astroImage.src}
			title="SpaceX Launches"
			description="App con los lanzamientos de SpaceX desarrollado con Astro, TypeScript, JavaScript y TailwindCSS."
			linkGit="https://github.com/LucasSA97/SpaceX-Launches"
			linkWeb="https://primer-proyecto-demo.vercel.app/"
			name
			/>
			<ProjectCard 
			img={theWaveImage.src}
			title="The Wave Store Comerce"
			description="E-Comerce desarrollado en equipo. El front hecho JavaScript, React, Redux, HTML y puro CSS. El backend con Express y Node y base de datos SQL."
			linkGit="https://github.com/Fiorellafrini/Proyecto_TheWave_client"
			linkWeb="https://proyecto-the-wave-client-1kip.vercel.app/SectionHome"
			name
			/>

			<ProjectCard 
			img={spotyImage.src}
			title="Spotify Demo Clon"
			description="Demo de SpotifyClon desarrollado con Astro, JavaScript, TypeScript, TailwindCSS, React y Svelte."
			linkGit="https://github.com/LucasSA97/spotify-clon"
			linkWeb="https://spotify-clon-demo-astro.vercel.app/"
			name
			/>

			<ProjectCard 
			img={teslaImage.src}
			title="Landing Tesla"
			description="Clon de la Landing page de Tesla desarrollado con HTML, CSS, JavaScript, Astro y Tailwind."
			linkGit="https://github.com/LucasSA97/landing-page-tesla"
			/>
			<ProjectCard 
			img={fireImage.src}
			title="FireTasks"
			description="Proyecto de lista de tareas con autenticación desarrollado con React, testing End to End con Cypress y backend en Firebase."
			linkGit="https://github.com/LucasSA97/task-list-firebase"
			linkWeb="https://fir-shop-7d55b.web.app/"
			name
			/>


			<ProjectCard 
			img={countriesImage.src}
			title="Search Country"
			description="Proyecto individual con todos los paises, paginado, filtrado combinado y creacion de actividades. CRUD desarrollado en el frontend con JavaScript, React y CSS. Backend con Node y Express. Base de datos PostgreSQL"
			linkGit="https://github.com/LucasSA97/Proyecto-Countries"	
			/>

		</section>
		</section>
				<section id="skills"  class="skills mt-5">
			<!-- <Title  text="Tecnologías"/> -->
			<p class="mb-5  tracking-widest text-5xl bg-black text-center  bg-clip-text transition-transform dark:bg-white">Algunas Tecnologías</p>

			<section>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" 			
				title="TypeScript" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" 				
				title="CSS" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" 				
				title="HTML" 
				/>
				<SkillCard
				icon={react.src}		
				title="React" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" 				
				title="JavaScript" 
				/>
				<SkillCard
				icon={astro.src} 				
				title="Astro" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
				title="PostgreSQL" />
				<SkillCard
				icon={angular.src}
				title="Angular" />
				<SkillCard
				icon={mongodb.src}
				title="MongoDB" />
				<SkillCard
				icon={tailwind.src}
				title="TailwindCSS" />
				<SkillCard
				icon={node.src}
				title="NodeJS" />
				<SkillCard
				icon="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
				title="Redux" />
			</section>
		</section>
			
	</main>
	
</Layout>



<style>

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	} 

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}


	
	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}
		
		.about > img {
			width: 100px;
		}
	}
	
	</style>


