---
import Navbar from '../components/Navbar.astro';
import Title from '../components/Title.astro'
import SkillCard from '../components/SkillCard.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
import '../styles/global.css';
import astroImage from "../assets/CapturaSpaceX.png"
import fireImage from "../assets/fireTask.png"
import countriesImage from "../assets/ProyectoCountry.png"
import spotyImage from "../assets/SpotifyClon.png"
import theWaveImage from "../assets/Thewave.png"
import teslaImage from "../assets/LandingTesta.png"
import shipImage from "../assets/ship.jpg"
import fotoMia from "../assets/fotoMia.jpeg"

---

<Layout>

	<main>
		<section class="about text-center mt-40">
			<p class="font-semibold text-2xl  md:text-3xl lg:text-4xl mt-8 md:mt-16 lg:mt-20 bg-black text-transparent bg-clip-text transition-all dark:bg-white"
			> ¡Hola! Soy
		    </p>
			<p class="mb-4 md:mb-10 lg:mb-27 tracking-widest text-4xl md:text-5xl lg:text-6xl bg-black text-transparent bg-clip-text transition-all dark:bg-white">
				<strong>Lucas Sarachu</strong>
			</p>
			<img src={fotoMia.src} class="mb-8 md:mb-12 lg:mb-14" alt="profile picture">
			<article id="sobremi" class="text-center">
				<p class="mb-27 tracking-widest text-5xl bg-black  bg-clip-text  transition-transform dark:bg-white">Software Developer</p>
				<p class="mt-4 md:mt-28"> Soy argentino radicado en España con experiencia en Educación Física y entrenamiento personal, lo que me ha proporcionado habilidades blandas aplicables en programación en equipo. Destaco por mi trabajo colaborativo, empatía, adaptabilidad, comunicación efectiva y actitud positiva. 
					Como programador, he participado en el desarrollo completo de aplicaciones web, destacándome en Front-end con JavaScript, React, Angular, CSS, y en Back-end con Node.js y ExpressJS. Poseo experiencia en bases de datos, así como en el uso de frameworks como Tailwind y Astro. Mi enfoque está en aprender continuamente y estoy abierto a nuevas oportunidades.
				</p>
			</article>
		</section>
		<section id="skills"  class="skills mt-10">
			<!-- <Title  text="Tecnologías"/> -->
			<p class="mb-15 mt-20 tracking-widest text-5xl bg-black  bg-clip-text transition-transform dark:bg-white">Tecnologías</p>

			<section>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg" 			
				title="TypeScript" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" 				
				title="CSS" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" 				
				title="HTML" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/reactlogo.png" 				
				title="React" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" 				
				title="JavaScript" 
				/>
				<SkillCard
				icon="https://pinguinoruso.netlify.app/astrologo.svg" 				
				title="Astro" 
				/>
				<SkillCard
				icon="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain.svg"
				title="PostgreSQL" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/tailwindlogo.png"
				title="TailwindCSS" />
				<SkillCard
				icon="https://pinguinoruso.netlify.app/nodelogo.png"
				title="NodeJS" />
				<SkillCard
				icon="https://raw.githubusercontent.com/devicons/devicon/master/icons/redux/redux-original.svg"
				title="Redux" />
			</section>
		</section>
		<section id="proyectos" class="work">
			<!-- <Title text="Mis proyectos"/> -->
			<p class="mb-27 tracking-widest text-5xl bg-black bg-clip-text transition-transform dark:bg-white">Mis Proyectos</p>
		<section >
			<ProjectCard 
					img={theWaveImage.src}
					title="The Wave Store Comerce"
					description="E-Comerce desarrollado en equipo. El front hecho JavaScript, React, Redux, HTML y puro CSS. El backend con Express y Node y base de datos SQL."
					linkGit="https://github.com/Fiorellafrini/Proyecto_TheWave_client"
					linkWeb="https://proyecto-the-wave-client-1kip.vercel.app/SectionHome"
					name
					/>
			<ProjectCard 
			    img={astroImage.src}
				title="SpaceX Launches"
				description="App con los lanzamientos de SpaceX desarrollado con Astro, TypeScript, JavaScript y TailwindCSS."
				linkGit="https://github.com/LucasSA97/SpaceX-Launches"
				linkWeb="https://primer-proyecto-demo.vercel.app/"
				name
				/>
				<ProjectCard 
					img={fireImage.src}
					title="FireTasks"
					description="Proyecto de lista de tareas desarrollado con React, testing End to End con Cypress y backend en Firebase."
					linkGit="https://github.com/LucasSA97/task-list-firebase"
					linkWeb="https://fir-shop-7d55b.web.app/"
					name
					/>
					<ProjectCard 
						img={spotyImage.src}
						title="Spotify Demo Clon"
						description="Demo de SpotifyClon desarrollado con Astro, JavaScript, TypeScript, TailwindCSS, React y Svelte."
						linkGit="https://github.com/LucasSA97/spotify-clon"
						linkWeb="https://spotify-clon-demo-astro.vercel.app/"
						name
						/>
			<ProjectCard 
			    img={teslaImage.src}
				title="Landing Tesla"
				description="Clon de la Landing page de Tesla desarrollado con HTML, CSS, JavaScript, Astro y Tailwind."
				linkGit="https://github.com/LucasSA97/landing-page-tesla"
				/>
			<ProjectCard 
			    img={countriesImage.src}
				title="Search Country"
				description="Proyecto individual, CRUD. Front con JavaScript, React y CSS. Backend con Node y Express."
				linkGit="https://github.com/LucasSA97/Proyecto-Countries"	
				/>
		</section>
		</section>
			
	</main>
	
</Layout>



<style>

	.skills {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		padding: 0px 20px 100px 20px;
	}

	.skills > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	} 

	.work {
		display: flex;
		flex-direction: column;
		gap: 50px;
		width: 100%;
		align-items: center;
		padding: 0px 20px 100px 20px;
	}
	
	.work > section {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}


	
	@media screen and (max-width: 700px) {
		main {
			margin: 0 auto;
		}

		.about {
			height: 80vh;
		}
		
		.about > img {
			width: 100px;
		}
	}
	
	</style>


